/* body{
    background-color: #2e7be0;
} */

.card {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    background-color:#fff;
    box-shadow: rgb(0 0 0 / 46%) 0px 4px 12px;
    padding: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card .btn-group{
    display: inline-block;
}

.card .button{
    margin: auto;
    height: 40px;
    background-color: rgba(228, 51, 119, 0.884);
    border-width: 0px;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    border-radius: 10px;
    color: #fff;
}

.card .button:hover{
    background-color:rgba(231, 206, 233, 0.774);
    color: #2e2323de;
}

.styled-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    content: center;
  }
  
  .styled-table tr, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
