<!Doctype HTML>
<html lang="en">
<head>
        <!-- calling Bootstrap and API packages into HTML pages -->
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/device_data_stream.css">
        <!-- <link rel="stylesheet" href="../static/css/Home.css"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <title>Data Stream</title>
    </head>
    <!-- checks if the token is valid -->
    <body>
        <header>
            <img class="logo" src="../asserts/SCMXpert logo.png" alt="SCMXpert logo" style="width:200px;height:65px;">
            <nav class="navigation">
                <a href="../templates/dashboard.html" button class="btn"><span class="icon"><ion-icon name="home"></ion-icon></span> Home</a>
          <a href="../templates/login.html" button class="btn"><span class="icon"><ion-icon name="log-out"></ion-icon></span> Logout</a>
            </nav>
        </header>

        <div class="card">
            <div class="col-auto">
                <button type="submit" class="button" id="btn" onclick="devicedata()">Load Data</button>
            </div>
            <table class="styled-table">
                <caption>All streaming data</caption>
                <thead>
                    <tr>
                        <th>Battery Level</th>
                        <th>Device ID</th>
                        <th>First Sensor Temperature</th>
                        <th>Route From</th>
                        <th>Route To</th>
                    </tr>
                </thead>
                <tbody id = "data">
                </tbody>
            </table>
            <script src="../static/js/device_data_stream.js"></script>
            
        </div>

            <!-- script to add icons to input boxes -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>