<html>
    <link rel="stylesheet" href="../static/css/shipment.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>  
<body> 
    <header>
      <img class="logo" src="../asserts/SCMXpert logo.png" alt="SCMXpert logo" style="width:200px;height:65px;">
      <nav class="navigation">
          <a href="../templates/dashboard.html" button class="btn"><span class="icon"><ion-icon name="home"></ion-icon></span> Home</a>
          <a href="../templates/login.html" button class="btn"><span class="icon"><ion-icon name="log-out"></ion-icon></span> Logout</a>
      </nav>
  </header>

  <div class="container">
    <form action="">

        <!-- <h1> <img class="ship logo" src="delivery-truck.png" alt="Shipping container">Shipping Details</h1> -->
        <h1>
          <img class="ship_logo" src="../asserts/delivery-truck.png"></i>
          Shipping Details </h1>



         <div class="details">
            <label><b>Shipment/Invoice Number:</b></label> <input type ="id" id="inv_no" class="info" placeholder="Shipment/Invoice Number"><br>
            <label><b>Container Number:</b></label> <input type="id" id="cont_no" class="info" placeholder="Container Number"><br>
            <label><b>Shipment Description:</b></label> <input type="text" id="ship_des" class="info" placeholder="Enter Your Description"><br>

            <label><b>Route Details:</b></label> <select class="dropdown" id="route_det"> <option value="Select Route">Select Route</option> 
              <option><a href="The English Channel">The English Channel</a></option>
              <option><a href="Panama Canal">Panama Canal</a></option>
              <option><a href="Suez Canal">Suez Canal</a></option></select><br>
            <label><b>Goods Type:</b></label> <select class="dropdown" id="goods_type"> <option value="Select Goods">Select Goods</option> 
              <option> <a href="Machinery">Machinery</a></option>
              <option><a href="Livestock">Livestock</a></option>
              <option><a href="Fuel">Fuel</a></option> </select><br>
            <label><b>Device:</b></label> <select class="dropdown" id="dev"> <option value="Select Device">Select Device ID</option> 
              <option><a href="1151">1151</a></option>
              <option><a href="1152">1152</a></option>
              <option><a href="1153">1153</a></option>
              <option><a href="1154">1154</a></option>
              <option><a href="1155">1155</a></option>
              <option><a href="1156">1156</a></option>
              <option><a href="1157">1157</a></option></select><br>

            <label><b>Expected Delivery Date:</b></label> <input type="date" class="info" id="exp_del_d" placeholder="Expected Delivery Date"><br>
            <label><b>PO Number:</b></label> <input type="id" class="info" id="po_no" placeholder="PONumber"><br>
            <label><b>Delivery Number:</b></label> <input type="id" class="info" id="del_no" placeholder="DeliveryNumber"><br>

            <label><b>NDC Number:</b></label> <input type="id" class="info" id="ndc_no" placeholder="NDC No"><br>
            <label><b>Batch Id:</b></label> <input type="id" class="info" id="batch_id" placeholder="Batch ID"><br>
            <label><b>Serial Number of goods:</b></label> <input type="id" class="info" id="s_no" placeholder="Serial Number of goods"><br>
         </div>

         <div class="btns">
            <button type="submit" class="button" id="createbtn" onclick="createShipment()">Submit</button>
            <button type="reset" class="button" id="cancelbtn">Cancel</button>
         </div>
        
</form>
  </div>

  
    <!-- script to add icons to input boxes -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>    -->
    <script src="../static/js/shipment.js"></script>
    <!-- <script src="Home.js"></script> -->
    
</body>
</html>


