<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../static/css/Sign_Up.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>  
</head>

<body>
   

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close"></ion-icon></span>


        <!--code for register -->

        <div class="form-box register">
            <h2>Registration</h2>
            
                <!-- param for username -->
                <div class ="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    <input type="text"  id="typeUserName"> <label>Username</label>
                 </div>

                <!-- param for email -->
                <div class ="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email"  id="typeEmail"> <label>Email</label>
                </div>

                <!-- param for pwd -->
                <div class ="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password"  id="typePassword"> <label>Password</label>
                </div>

                <!-- <div class ="captcha" >
                    <label for ="captcha-input">Enter Captcha</label>
                    <div class ="preview"></div>
                    <div class ="captcha-form">
                        <input type ="text" id="captcha-form" placeholder="Captcha text">
                        <button class ="captcha-refresh">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                </div> -->

                

                <button type="submit" onclick="signUpData()" class="btn">Register</button>
            

                <!-- <div class="btn">
                    <button id="login-btn" onclick="signUpData()">Sign Up</button>                    
                </div> -->

                <div class="login-register">
                    <p>Already have an account? <a href="../templates/login_page.html" class="login-link">Login</a></p>
                </div>

                   
           
        </div>


    </div>

    <script src="../static/js/Sign_Up_JS.js"></script>

    <!-- script to add icons to input boxes -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>



<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
<title>Sign Up Form</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


</head>
<link rel="stylesheet" href="../Sign_Up.css">
<body>
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-between">
            <div class="card mt-3 p-5">
                <div class="logo mb-3"><img src="../asserts/Logo.png" style="width: 50px;"></div>
                    <div>
                        <p class="mb-1">Start managing your</p>
                        <h4 class="mb-5 text-white">shipments with us!</h4>
                    </div>
                    <a button class="btn btn-primary btn-lg"  href="login_page.html"><small>Already signed up?</small><span>&nbsp;Log in</span>
                    </a>
            </div>
            <div class="card two bg-white px-5 py-4 mb-3">

                <div class="form-group"><input type="text" class="form-control" id="typeUserName" required><label class="form-control-placeholder" for="username`">Username</label></div>
                <div class="form-group"><input type="text" class="form-control" id="typeEmail" required><label class="form-control-placeholder" for="email">Email</label></div>
                <div class="form-group"><input type="password" class="form-control" id="typePassword" required><label class="form-control-placeholder" for="password">Password</label></div>
                <button class=" btn-primary btn-block btn-lg mt-1 mb-2" onclick="signUpData()"><span>Get started<i class="fas fa-long-arrow-alt-right ml-2"></i></span></button>
                <div class="mb-3">
                    <h6 id="error" style="color:red;"></h6>
                    <h6 id="success" style="color:#004F76;"></h6>
                  </div>
            </div>
        </div>
    </div>
    <script  src="../Sign_Up_JS.js">


    </script>     
</body>
</html -->